In [13]:
from time import sleep as wait

In [14]:
wait(2)
print('All done!')

All done!

In [375]:
import itertools as it
import operator

# accumulate()
`it.accumulate(iterable[, func])`

In [376]:
# running product

data = [1, 2, 3, 4, 5]

result = it.accumulate(data, operator.mul)

for each in result:
    print(each)

1
2
6
24
120

In [377]:
# running max

result = it.accumulate(data, max)
for each in result:
    print(each)

1
2
3
4
5

In [378]:
# running max

data = [5, 2, 6, 4, 5, 9, 1]

result = it.accumulate(data, max)
for each in result:
    print(each)

5
5
6
6
6
9
9

In [379]:
# running total

data = [5, 2, 6, 4, 5, 9, 1]
result = it.accumulate(data)
for each in result:
    print(each)

5
7
13
17
22
31
32

# Combinations

`it.combinations(iterable, r)`

In [380]:
shapes = ['circle', 'triangle', 'square']

result = it.combinations(shapes, 2)

for each in result:
    print(each)

('circle', 'triangle')
('circle', 'square')
('triangle', 'square')

In [381]:
shapes = ['circle', 'triangle', 'square']

result = it.combinations(shapes, 3)
for each in result:
    print(each)

('circle', 'triangle', 'square')

# Combinations with Replacement
`it.combinations_with_replacement(iterable, r)`

In [382]:
shapes = ['circle', 'triangle', 'square']

result = it.combinations_with_replacement(shapes, 2)

for each in result:
    print(each)

('circle', 'circle')
('circle', 'triangle')
('circle', 'square')
('triangle', 'triangle')
('triangle', 'square')
('square', 'square')

# Count
`it.count(start=0, step=1)`

In [383]:
for i in it.count(10,3):
    print(i)
    if i > 20:
        break

10
13
16
19
22

# Cycle
`it.cycle(iterable)`

In [384]:
# this will loop forever

colors = ['red', 'orange', 'yellow', 'green', 'blue', 'violet']

# for color in it.cycle(colors):
#     print(color)

# Chain
`it.chain(*iterables)`

In [385]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']
shapes = ['circle', 'triangle', 'square', 'pentagon']

result = it.chain(colors, shapes)

for each in result:
    print(each)

red
orange
yellow
green
blue
circle
triangle
square
pentagon

# Compress
`it.compress(data, selectors)`

In [386]:
shapes = ['circle', 'triangle', 'square', 'pentagon']
selections = [True, False, True, False]

result = it.compress(shapes, selections)

for each in result:
    print(each)

circle
square

# Dropwhile
`it.dropwhile(predicate, iterable)`

In [387]:
# once it encounters an item that is not < 5, it returns the rest

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1]
result = it.dropwhile(lambda x: x<5, data)

for each in result:
    print(each)

5
6
7
8
9
10
1

# filterfalse
`it.filterfalse(predicate, iterable)`

In [388]:
# this filters elements from iterable that return False, takes care of that 1

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = it.filterfalse(lambda x: x<5, data)

for each in result:
    print(each)

5
6
7
8
9
10

# Groupby
`it.groupby(iterable, key=None)`

In [389]:
bots = [{
    'name': 'blaster',
    'faction': 'autobot'
}, {
    'name': 'galvatron',
    'faction': 'decepticon'
}, {
    'name': 'jazz',
    'faction': 'autobot'
}, {
    'name': 'metroplex',
    'faction': 'autobot'
}, {
    'name': 'megatron',
    'faction': 'decepticon'
}, {
    'name': 'starcream',
    'faction': 'decepticon'
}]

for key, group in it.groupby(bots, key=lambda x: x['faction']):
    print(key)
    print(list(group))

autobot
[{'name': 'blaster', 'faction': 'autobot'}]
decepticon
[{'name': 'galvatron', 'faction': 'decepticon'}]
autobot
[{'name': 'jazz', 'faction': 'autobot'}, {'name': 'metroplex', 'faction': 'autobot'}]
decepticon
[{'name': 'megatron', 'faction': 'decepticon'}, {'name': 'starcream', 'faction': 'decepticon'}]

# Exercises

For the following exercises, read about and use the it module from the standard library to help you solve the problem.

> 1. How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?

> 2. How many different ways can you combine two of the letters from "abcd"?

In [390]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

In [391]:
c = list(it.product(list1, list2))
c

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

In [392]:
letters = ['a', 'b', 'c', 'd']

In [393]:
result = it.combinations_with_replacement(letters, 2)

for each in result:
    print(each)

('a', 'a')
('a', 'b')
('a', 'c')
('a', 'd')
('b', 'b')
('b', 'c')
('b', 'd')
('c', 'c')
('c', 'd')
('d', 'd')

> Save this file as profiles.json inside of your exercises directory. Use the load function from the json module to open this file, it will produce a list of dictionaries. Using this data, write some code that calculates and outputs the following information:

In [394]:
import json

profiles = json.load(open("profiles.json"))

In [395]:
type(profiles)

list

In [396]:
profiles[0].keys()

dict_keys(['_id', 'index', 'guid', 'isActive', 'balance', 'picture', 'age', 'eyeColor', 'name', 'gender', 'company', 'email', 'phone', 'address', 'about', 'registered', 'latitude', 'longitude', 'tags', 'friends', 'greeting', 'favoriteFruit'])

In [397]:
profiles[0].values()

dict_values(['54e23c3e46ab53a440b580e8', 0, '9962b468-ef3e-4993-b677-617469bc3008', False, '$2,097.02', 'http://placehold.it/32x32', 39, 'blue', 'Hebert Estes', 'male', 'ANDRYX', 'hebertestes@andryx.com', '+1 (866) 456-2268', '121 Emmons Avenue, Klondike, Kentucky, 5975', 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n', '2014-11-10T01:44:03 +06:00', -80.157843, 161.93016, ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'], [{'id': 0, 'name': 'Tanisha Leonard'}, {'id': 1, 'name': 'Dennis Wilson'}, {'id': 2, 'name': 'Lupe Howe'}], 'Hello, Hebert Estes! You have 4 unread messages.', 'strawberry'])

In [398]:
profiles[0]['isActive']

False

## Total number of users

In [399]:
print(f'There are {len(profiles)} users in the profiles list.')

There are 19 users in the profiles list.

## Total number of active users

In [407]:
active_users = []
for user in profiles:
    if user['isActive']:
        active_users.append(user)
print(len(active_users))

9

In [410]:
len([profile for profile in profiles if profile['isActive']])

9

In [401]:
print(f'There are {len(active_users)} in the profiles list.')

There are 9 in the profiles list.

## Total number of inactive users

In [408]:
inactive_users = []
for user in profiles:
    if not user['isActive']:
        inactive_users.append(user)
print(len(inactive_users))

10

In [411]:
len([profile for profile in profiles if not profile['isActive']])

10

In [403]:
print(f'There are {len(inactive_users)} in the profiles list.')

There are 10 in the profiles list.

## Grand total of balances for all users

In [404]:
for user in profiles:
    print(user['balance'])

$2,097.02
$3,654.02
$1,536.02
$3,919.64
$3,681.39
$1,694.42
$1,214.10
$2,930.31
$1,944.15
$2,839.22
$2,467.31
$3,304.99
$3,844.42
$3,594.99
$2,940.24
$3,062.41
$3,067.82
$2,646.76
$2,227.79

In [412]:
total_balance = []
for user in profiles:
    balance = user['balance']
    balance = balance.replace('$', '').replace(',', '')
    balance = float(balance)
    total_balance.append(balance)

print(f'The total balance of all of the users is ${sum(total_balance)}.')

The total balance of all of the users is $52667.02.

In [414]:
def get_profile_balance(profile):
    return float(profile['balance'].replace('$', '').replace(',', ''))

In [415]:
sum([get_profile_balance(profile) for profile in profiles])

52667.02

In [406]:
# running_total

total_balance = []
for user in profiles:
    balance = user['balance']
    balance = balance.replace('$', '')
    balance = balance.replace(',', '')
    balance = float(balance)
    total_balance.append(balance)
print(f'The grand total of user balances is ${sum(total_balance)}.')

# result = it.accumulate(total_balance)
# for total in result:
#     print(sutotal)
#     print()

The grand total of user balances is $52667.02.

## Average balance per user

In [142]:
total_balance = []
for user in profiles:
    balance = user['balance']
    balance = balance.replace('$', '')
    balance = balance.replace(',', '')
    balance = float(balance)
    total_balance.append(balance)
print(f'The average of user balances is ${round(sum(total_balance) / len(total_balance),2)}.')

The average of user balances is $2771.95.

## User with the lowest balance

In [154]:
total_balance = []
for user in profiles:
    balance = user['balance']
    balance = balance.replace('$', '')
    balance = balance.replace(',', '')
    balance = float(balance)
    total_balance.append(balance)
    min_balance = (min(total_balance))
    for user in profiles:
        if user['balance'] ==  min_balance:
            print(user)

## User with the highest balance

## Most common favorite fruit

In [161]:
favorite_fruit = []
for user in profiles:
    fruit = user['favoriteFruit']
    favorite_fruit.append(fruit)

def most_frequent(List): 
    return max(set(List), key = List.count) 

print(f'The most common favorite fruit amongst the users is: {most_frequent(favorite_fruit)}')

The most common favorite fruit amongst the users is: strawberry

## Least common favorite fruit

In [162]:
favorite_fruit = []
for user in profiles:
    fruit = user['favoriteFruit']
    favorite_fruit.append(fruit)

def most_frequent(List): 
    return min(set(List), key = List.count) 

print(f'The least common favorite fruit amongst the users is: {most_frequent(favorite_fruit)}')

The least common favorite fruit amongst the users is: apple

## Total number of unread messages for all users

In [373]:
import re
nums = []
for user in profiles:
    greeting = (user['greeting'])
    lst = re.findall('\d+', greeting)
    nums.append(''.join(lst))
nums = map(int, nums)
print(sum(list(nums)))

210

# Using Pandas!!!

In [189]:
import pandas as pd

In [187]:
data = json.load(open("profiles.json"))

In [191]:
df = pd.DataFrame(data)

In [193]:
df.head(1)

,_id,about,address,age,balance,company,email,eyeColor,favoriteFruit,friends,...,guid,index,isActive,latitude,longitude,name,phone,picture,registered,tags
0,54e23c3e46ab53a440b580e8,Sit cillum deserunt irure laboris tempor fugia...,"121 Emmons Avenue, Klondike, Kentucky, 5975",39,"$2,097.02",ANDRYX,hebertestes@andryx.com,blue,strawberry,"[{'id': 0, 'name': 'Tanisha Leonard'}, {'id': ...",...,9962b468-ef3e-4993-b677-617469bc3008,0,False,-80.157843,161.93016,Hebert Estes,+1 (866) 456-2268,http://placehold.it/32x32,2014-11-10T01:44:03 +06:00,"[sit, occaecat, non, ea, sit, laboris, exercit..."

In [194]:
df.columns

Index(['_id', 'about', 'address', 'age', 'balance', 'company', 'email',
       'eyeColor', 'favoriteFruit', 'friends', 'gender', 'greeting', 'guid',
       'index', 'isActive', 'latitude', 'longitude', 'name', 'phone',
       'picture', 'registered', 'tags'],
      dtype='object')

In [197]:
df.columns = ['id', 'about', 'address', 'age', 'balance', 'company', 'email',
       'eye_color', 'favorite_fruit', 'friends', 'gender', 'greeting', 'guid',
       'index', 'is_active', 'latitude', 'longitude', 'name', 'phone',
       'picture', 'registered', 'tags']

In [198]:
df.head(1)

,id,about,address,age,balance,company,email,eye_color,favorite_fruit,friends,...,guid,index,is_active,latitude,longitude,name,phone,picture,registered,tags
0,54e23c3e46ab53a440b580e8,Sit cillum deserunt irure laboris tempor fugia...,"121 Emmons Avenue, Klondike, Kentucky, 5975",39,"$2,097.02",ANDRYX,hebertestes@andryx.com,blue,strawberry,"[{'id': 0, 'name': 'Tanisha Leonard'}, {'id': ...",...,9962b468-ef3e-4993-b677-617469bc3008,0,False,-80.157843,161.93016,Hebert Estes,+1 (866) 456-2268,http://placehold.it/32x32,2014-11-10T01:44:03 +06:00,"[sit, occaecat, non, ea, sit, laboris, exercit..."

In [200]:
print(f'The total number of users in the dataframe is {len(df)}.')

The total number of users in the dataframe is 19.

In [207]:
print(f'The number of active users in the dataframe is {(df.is_active == True).sum()}.')

The number of active users in the dataframe is 9.

In [208]:
print(f'The number of inactive users in the dataframe is {(df.is_active == False).sum()}.')

The number of inactive users in the dataframe is 10.

In [230]:
df.balance = df.balance.str.replace('$', '').str.replace(',','').astype(float)

In [234]:
print(f'The total balance of the users is ${df.balance.sum()}.')

The total balance of the users is $52667.02.

In [237]:
print(f'The average balance per user is ${round(df.balance.mean(), 2)}.')

The average balance per user is $2771.95.

- The user with the lowest balance.

In [240]:
df[df.balance == df.balance.min()]

,id,about,address,age,balance,company,email,eye_color,favorite_fruit,friends,...,guid,index,is_active,latitude,longitude,name,phone,picture,registered,tags
6,54e23c3e0fd8074c2ca52667,Minim consequat anim ad et tempor et pariatur ...,"569 Oakland Place, Beyerville, Puerto Rico, 2395",35,1214.1,TERSANKI,averyflynn@tersanki.com,green,banana,"[{'id': 0, 'name': 'Ball Henson'}, {'id': 1, '...",...,af8d9a03-fde9-4039-b20c-c4708d4cfc3c,6,False,-89.879409,143.441709,Avery Flynn,+1 (966) 404-2471,http://placehold.it/32x32,2014-04-13T10:25:03 +05:00,"[quis, esse, Lorem, minim, nostrud, voluptate,..."

- The user with the highest balance

In [241]:
df[df.balance == df.balance.max()]

,id,about,address,age,balance,company,email,eye_color,favorite_fruit,friends,...,guid,index,is_active,latitude,longitude,name,phone,picture,registered,tags
3,54e23c3e54e4094147a3b1da,Aliqua sunt exercitation quis cupidatat fugiat...,"518 Randolph Street, Whitestone, Arizona, 8189",20,3919.64,INRT,fayhammond@inrt.com,green,banana,"[{'id': 0, 'name': 'Dudley Booker'}, {'id': 1,...",...,69eb3454-8acc-46f1-a636-c6df00dfb542,3,False,33.825844,-65.969538,Fay Hammond,+1 (922) 429-2592,http://placehold.it/32x32,2015-01-30T08:05:38 +06:00,"[aliqua, esse, sint, pariatur, commodo, do, anim]"

In [251]:
df['favorite_fruit'].value_counts()

strawberry    9
banana        6
apple         4
Name: favorite_fruit, dtype: int64

In [253]:
print('The most common fruit of the users is: ' + df.favorite_fruit.value_counts().idxmax())

The most common fruit of the users is: strawberry

In [254]:
print('The least common fruit of the users is: ' + df.favorite_fruit.value_counts().idxmin())

The least common fruit of the users is: apple

- How many total unread messages do the users have?

In [261]:
messages = (df['greeting'].str.extract('(\d+)').astype(int)).sum()

In [267]:
messages

0    210
dtype: int64

In [335]:
df.greeting

0      Hello, Hebert Estes! You have 4 unread messages.
1     Hello, Allison Wynn! You have 19 unread messages.
2      Hello, Jacobs Floyd! You have 5 unread messages.
3      Hello, Fay Hammond! You have 10 unread messages.
4     Hello, Chasity Marsh! You have 9 unread messages.
5     Hello, Camacho Cortez! You have 19 unread mess...
6      Hello, Avery Flynn! You have 13 unread messages.
7     Hello, Michael Cash! You have 17 unread messages.
8     Hello, Madeleine Bray! You have 2 unread messa...
9     Hello, Corine French! You have 18 unread messa...
10    Hello, Trudy Cummings! You have 2 unread messa...
11     Hello, Peggy Mayer! You have 13 unread messages.
12      Hello, Chan Hurley! You have 7 unread messages.
13       Hello, Diaz Pena! You have 13 unread messages.
14    Hello, Heath Castaneda! You have 12 unread mes...
15    Hello, Greer Blankenship! You have 7 unread me...
16    Hello, Coffey Hayes! You have 19 unread messages.
17     Hello, Leanne Hurst! You have 5 unread messages.
18    Hello, Ewing Larson! You have 16 unread messages.
Name: greeting, dtype: object